@keyframes fade-in {
   0% {
     opacity: 0;
     transform: scale(0);
   }
   
   100% {
     opacity: 1;
     transform: scale(1);
   }
 }
.wrapper {
   animation: .3s ease-in-out both fade-in;
   width: 40vw;
   left: 0;
   padding:  0 20px 20px;
   margin: 0;
   position: relative;
   font-size: 28px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
   align-content: flex-start;

   
}
.pts {
   width: 100%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 130px 60px 60px 60px 60px 60px 60px 60px;
   justify-content: center; 
   justify-items: center; 
   align-items: center; 
}

.wrapperItem {
   color: white;
   padding: 30px;
   margin:0;
   border: solid 6px;
   border-radius: 90px 90px 90px 90px;
   -webkit-border-radius: 90px 90px 90px 90px;
   -moz-border-radius: 90px 90px 90px 90px;
   -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
   -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
   box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
   
}

.statistic {
   width: 60vw;
}




img {
   width: 60px;
   padding: 0 0 0  30px;
}



 