@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
  font-family: 'Patrick Hand', cursive;
  color: white;
  background-color: crimson;
  background-color: rgba(207, 29, 29, 1);
background-image: linear-gradient(90deg, rgba(207, 29, 29, 1) 0%, rgba(77, 7, 3, 1) 100%);
}


